@import "../../styles.shared/colors";

.list {
  margin: 10vmin;
  margin-bottom: 0;
  width: calc(100% - 20vmin);
  min-height: 15vmin;
  display: flex;
  .toggle-button {
    border-top-right-radius: 0.9vmin;
    border-bottom-right-radius: 0.9vmin;
    padding: 0;
    margin: 0;
  }
  .add-button {
    margin: 5vmin 7vmin;
    margin-right: 0;
  }
  .category {
    font-size: 4.3vmin;
    padding: 3vmin;
    color: $listCategoryColor;
    background-color: white;
    border-bottom: 0.35vmin solid $listCategoryBorderColor;
    cursor: pointer;
  }

  .selected-category {
    cursor: default;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 5vmin;
    line-height: 15vmin;
    margin-left: 3.5vmin;
    width: calc(100% - 31.5vmin);
    max-width: width;
    overflow: auto;
    height: 16vmin;
    border-top-left-radius: 0.9vmin;
    border-bottom-left-radius: 0.9vmin;
    background-color: white;
    border: 0.35vmin solid $listCategoryBorderColor;
    border-right: 0 solid #00000000;
  }
  .overflow {
    line-height: normal;
    padding-top: 2vmin;
    height: 14vmin;
  }

  .categories {
    border: 0.35vmin solid $listCategoryBorderColor;
    border-bottom: 0 solid #00000000;
    border-radius: 0.9vmin;
    position: fixed;
    transform: scaleY(height);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
  }
  .categories.hidden {
    transform: scaleY(0);
  }
}
