@import "../products";
@import "../../../input/field";
@import "../../../button/confirm";

.new-product-input-field {
  @extend .input-field;
  @extend .add-product;
  width: 95% !important;
  padding-top: 2vmin !important;
  padding-bottom: 2vmin;
  font-size: 5.5vmin !important;
  margin-left: 0;
  margin-right: 0;
}
.new-product-confirm-button {
  @extend .confirm-button;
  margin-top: 7vmin;
  border-radius: 0;
  border-top-right-radius: 1vmin;
  border-bottom-right-radius: 1vmin;
  border-left: 0px solid black;
  height: 13.3vmin;
  width: 12.8vmin;
  cursor: pointer;
}
