.product-list {
  margin: 0 10vmin;
  width: calc(100% - 20vmin);
  .product {
    display: flex;
    margin-top: 3.3vmin;
    width: calc(100% - 5.3vmin);
    height: 6vmin;
    font-size: 5.5vmin;
    text-align: left;
    padding: 3vmin;
    color: gray;
    background-color: #f2f2f2;
    border: 0.05vmin solid gray;
  }
  .separator {
    width: 100%;
  }
  .add-product {
    text-align: center;
    margin-top: 7vmin;
    margin-bottom: 5vmin;
    width: 100%;
    padding-top: 3.7vmin;
    font-size: 4.5vmin;
    height: 9.3vmin;
    color: gray;
    border: 0.35vmin dashed #00000000;
    border-image: url(../../../resources/images/border/dashed.png) 1 round;
    transition: border-image 0.3s;
  }
  .add-product:hover {
    transition: border-image 0.7s;
    border-image: url(../../../resources/images/border/dashed-black.png) 1 round;
  }
}
