@import "../../../styles.shared/expandShrink.effect";

.product-list {
  margin: 0 10vmin;
  width: calc(100% - 20vmin);
  .product {
    .product-title {
      min-width: max-content;
    }
    opacity: 1;
    display: flex;
    margin-top: 3.3vmin;
    width: calc(100% - 5.3vmin);
    height: 6vmin;
    font-size: 5.5vmin;
    text-align: left;
    padding: 3vmin;
    color: gray;
    background-color: #f2f2f2;
    border: 0.05vmin solid gray;
    transition: opacity 0.3s;
  }
  .product.purchased {
    text-decoration: line-through;
  }
  .product.hide {
    opacity: 0;
  }
  .separator {
    width: 100%;
  }
  .add-product {
    text-align: center;
    margin-top: 7vmin;
    margin-bottom: 2vmin;
    width: 100%;
    padding-top: 3.7vmin;
    font-size: 4.5vmin;
    height: 9.3vmin;
    color: gray;
    border: 0.35vmin dashed #00000000;
    border-image: url(../../../resources/images/border/dashed.png) 1 round;
    transition: border-image 0.3s;
  }
  .add-product:hover {
    transition: border-image 0.7s;
    border-image: url(../../../resources/images/border/dashed-black.png) 1 round;
  }

  .toggle-products {
    display: flex;
    font-size: 4vmin;
    color: lightgray;
    margin-top: 12vmin;
    .toggle-button {
      border: 0px solid #00000000;
      width: 6vmin;
      height: 6vmin;
    }
    .toggle-button::before {
      background-color: #00000000;
    }
  }

  .toggle-products.closer {
    margin-top: 3vmin;
  }

  .selected-products,
  .purchased-products {
    height: max-content;
    @extend .expandShrink-effect-add-to-default-class;
  }
  .selected-products {
    cursor: pointer;
  }
  .selected-products.hidden,
  .purchased-products.hidden {
    @extend .expandShrink-effect-add-to-hidden-class;
  }
}
