@import "../../styles.shared/colors";

#menu-footer {
  display: flex;
  padding: 5vmin 10vmin;
  background-color: $menuBackgroundColor;
  position: fixed;
  left: 0;
  bottom: 0;
  .entry {
    display: flexbox;
    color: $menuFooterEntryColor;
    .image-container {
      padding-left: calc((100% - 10vmin) / 2);
      padding-bottom: 1vmin;
      .image {
        width: 8vmin;
        height: 8vmin;
        margin: auto;
      }
    }
    .title {
      font-size: 4vmin;
      font-weight: bold;
      text-align: center;
    }
  }
}
