@import "../../styles.shared/colors";

.menu-header {
  display: flex;
  padding: 5vmin;
  color: $menuColor;
  background-color: $menuBackgroundColor;
  .title {
    min-width: max-content;
    font-weight: bold;
  }
  .separator {
    width: 100%;
  }
  .login-button {
    min-width: max-content;
  }
}
